<p-fieldset legend="Form2" [toggleable]="true">
  <form [formGroup]="form">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" formControlName="notebookName" pInputText placeholder="Enter id">
      </div>
      <hr>
      <div class="ui-inputgroup">
        <input type="number" formControlName="sheetCount" pInputText placeholder="Enter count">
      </div>
    </div>
  </div>
  <button pButton label="Add pen" class="ui-button-success" type="submit"></button>
  </form>
</p-fieldset>
